OPENAI_API_KEY=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
OPENAI_MODEL=gpt-5.2

JIRA_BASE_URL=https://midasitweb-jira.atlassian.net
JIRA_EMAIL=nye0408@midasin.com
JIRA_API_TOKEN=ATATT3xFfGF0H-bffEpI0G8y8sdUgekNBmlEWkh_CM2mwGHebpQEuLbqvNspIZ6B0eUdxGOrPzpATzfLUx6MOfHX6_8yEYwyVRFlVkNJzPCp7EF5OeL35xvdzxoSTSaQc2O_QtJkX8UxNGZyocp06QDPwIsDoCXc59xhUP1Z-YGbYwDn2XBeUro=14A1A6F3
JIRA_PROJECT_KEY=NMRS
JIRA_ISSUE_TYPE=10399

JIRA_CUSTOMER_FIELD_ID=customfield_10375
JIRA_VOC_TYPE_FIELD_ID=customfield_10462
JIRA_VOC_TYPE_DEFECT_OPTION_ID=10346
JIRA_VOC_TYPE_IMPROVEMENT_OPTION_ID=10349
JIRA_VOC_TYPE_TECH_SUPPORT_OPTION_ID=10347
JIRA_VOC_TYPE_INQUIRY_OPTION_ID=10348
